:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { 
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(105, 200, 224);
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: rgb(48, 165, 194);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main {
  margin: 1em;
}

.top-container {
  text-align: left;
  background-color: #cff9ff;
  padding: 1em;
  color: black;
  width: 90em;
}

.graphZone {
  background-color: white;
  color: black;
  width: 92em;
  height: 28em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: rgb(68, 68, 244);
  color: white;
  width: 91.65em;
  height: 2em;
  margin-top: 1em;
  padding: .3em;
  align-content: center;
  text-align: center;
}

/* Sets size of graphs */
#cy1, #cy2, #cy3 {
  width: 1000px;
  height: 400px;
  display: block;
}

.guess-input-field {
  width: 200px; 
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px; 
  background-color: white; 
  color: black;
  outline: none; /* Remove default focus outline */
}

.guess-input-field:focus {
  color: gray; /* Change border color on focus */
}

/* User Guide button */
.user-guide-btn {
  background-color:  rgb(68, 68, 244);
  color: white;
  padding: 1em;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  width: 10em;
  margin-bottom: 1em;
}

/* User Guide button on hover & focus */
.user-guide-btn:hover, .user-guide-btn:focus {
  background-color: rgb(48, 48, 221);
}

/* User Guide content (hidden by default) */
.user-guide-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: 57em;
}

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
  display: block;
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
.user-guide-btn:hover .user-guide-btn:focus {
  background-color:  rgb(27, 27, 190);
}

/* User guide dropdown arrow */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.greenNode {
  margin-left: -2.7px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 5em;
}

.space-between-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* User guide content images */
.example-graph {
  margin-left: 15em;
}

.after-click {
  margin-right: 5em;
}

.click-icon {
  position: absolute;
  bottom: 19.7em;
}

.guess-input-field-img {
  margin-left: 18em;
  padding-bottom: 3em;
}